body{
  background-color: black;
  color: white;
}

b {
  font-weight: bold;
}

.greenText{
  color: green;
}

.redText{
  color: red;
}

.piechart {
  display: block;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background-image: conic-gradient(red 70deg, green 0);
  transition: all 0.5s ease; /* smooth movement */
}

.center {
  transform: translateX(0); /* move to center */
}

.left {
  transform: translateX(-20vw);
}

.right {
  transform: translateX(20vw);
}

.noResponseSquare {
    border-style: solid;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: thin;
    width: 22vw;
    height: 22vw; 
    margin-left: 5vw;
    margin-right: 5vw;
}
  

.flex-container {
  width: 100%;
  height: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0 auto;       
  position: relative;    
}

h4 {
    font-size:1.6em;

 }

.border {
  border-style: dashed;
  border-color: black;
  border-width: thin;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw; 
  height: 18vw; 
}


.lowRisk{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 10vw;
    margin-left: 6vw;
    font-size: x-large;
}
.lowRisk div {
    width: 100px;
    height: 100px;
  }

.selectionSquare {
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: thin;
    width: 18vw;
    height: 18vw; 
    margin-left: 40vw;
    margin-top: 16vw;
  }

.highRiskSquare{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 18vw; 
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: x-large;
}
.highRisk div {
    width: 100px;
    height: 100px;
  }

  .decoy{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 10vw;
    margin-left: 6vw;
    font-size: x-large;
}
.decoy div {
    width: 100px;
    height: 100px;
  }


.jspsych-display-element {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 20px;
    font: arial 
  }

.jspsych-display-element:focus {
    outline: none;
   
}
 
.jspsych-content-wrapper {
    display: flex;
    margin: auto;
    flex: 1 1 100%;
    width: 100%;
  }
 
.jspsych-content {
    max-width: 95%; /* this is mainly an IE 10-11 fix */
    text-align: center;
    margin: auto; /* this is for overflowing content */
}
.jspsych-top {
    align-items: flex-start;
}
 
.jspsych-middle {
    align-items: center;
}
